<mat-accordion>
  <mat-expansion-panel hideToggle *ngFor="let att of attendance">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Group {{att.groupNumber}}
      </mat-panel-title>
      <mat-panel-description>
        {{att.moduleName}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-selection-list #studatt (selectionChange)="onSelectionChange($event, att.students)">
      <mat-list-option [value]="prog.student" *ngFor="let prog of att.students">
        {{studName(prog.student)}}
        <!-- {{studName(prog.student)}} -->
      </mat-list-option>
    </mat-selection-list>

    <!-- <p>
      Options selected: {{studatt.selectedOptions.selected.length}}
    </p>
    <p>
      Selected: {{att.students[0].completed?'true':'false'}}
    </p> -->
  </mat-expansion-panel>
</mat-accordion>
