<mat-accordion>
  <mat-expansion-panel hideToggle *ngFor="let att of attendance">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Group {{att.groupNumber}}
      </mat-panel-title>
      <mat-panel-description>
        {{att.moduleName}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-selection-list #studatt (selectionChange)="onSelectionChange($event, att.students)">
      <mat-list-option [value]="prog.student" *ngFor="let prog of att.students">
      <mat-icon mat-list-icon  [matMenuTriggerFor]="menu">note</mat-icon>
      <div mat-line>{{studName(prog.student!)}}</div>
      <!-- <div mat-line> {{'world'}} </div> -->
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Late Attendance</button>
          <button mat-menu-item>Left Attendance</button>
          <button mat-menu-item>Late and Left</button>
        </mat-menu>
      </mat-list-option>
    </mat-selection-list>
    <!-- <p>
      Options selected: {{studatt.selectedOptions.selected.length}}
    </p> -->
    <p>
     <button mat-raised-button color="primary" (click)="onAttendanceDone($event, att.students)">Done</button>
     <button mat-raised-button color="primary" (click)="onAdmin($event)">Admin</button>
    </p>
  </mat-expansion-panel>
</mat-accordion>
