<mat-accordion>
  <mat-expansion-panel hideToggle *ngFor="let att of attendanceStudents">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Group {{att.group.groupNumber}}
      </mat-panel-title>
      <mat-panel-description>
        {{att.module.moduleName}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-selection-list #shoes>
      <mat-list-option *ngFor="let stud of att.group.students">
        {{stud.otherNames.concat(' '+stud.lastName)}}
      </mat-list-option>
    </mat-selection-list>

    <p>
      Options selected: {{shoes.selectedOptions.selected.length}}
    </p>
  </mat-expansion-panel>
</mat-accordion>
