table {
  width: 100%;
}

/* button {
  margin: 16px 8px;
} */

col:first-child {background: #FF0}
col:nth-child(2n+3) {background: #CCC}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}